<div>
  <p>Can you help? Caesium Overflow depends on everyone sharing their knowledge. If you're able to answer this question, please do!</p>
  <h3>Your Answer</h3>
  <form id="comment-form" method="POST" action="/comments/<%= @question.id%>" >
    <textarea name="new_post">

    </textarea>
    <br>
    <button type="submit" > Create</button>
  </form>
</div>
