<h1> Please Register </h1>

<form method="post" action="/register">
  <label for="username">User Name:</label>
  <input required type="text" name="username"/>
    <br>
  <label for="email">Email:</label>
  <input required type="text" name="email" minlength="1"/>
    <br>
  <label for="password">Password:</label>
  <input required type="password" name="password" minlength="1"/>
    <br>
  <button type= submit>Submit</button>
</form>
