  <div class="cover">
    <h1>Bad Request <small>Error 400</small></h1>
    <p class="lead">The server cannot process the request due to something that is perceived to be a client error.</p>
  </div>
  
    <footer>
    <p>Technical Contact: <a href="mailto:jclucas21@gmail.com?Subject=400_error" target="_top">Send Mail</a></p>
  </footer>
    