  <div class="cover">
    <h1>Resource not found <small>Error 404</small></h1>
    <p class="lead">The requested resource could not be found but may be available again in the future.</p>
  </div>
  
    <footer>
    <p>Technical Contact: <a href="mailto:jclucas21@gmail.com?Subject=400_error" target="_top">Send Mail</a></p>
  </footer>