<div class="cover">
    <h1>Webservice currently unavailable <small>Error 500</small></h1>
    <p class="lead">An unexpected condition was encountered.<br />
Our service team has been dispatched to bring it back online.</p>
  </div>
  
    <footer>
    <p>Technical Contact: <a href="mailto:jclucas21@gmail.com?Subject=400_error" target="_top">Send Mail</a></p>
  </footer>